<template>
  <div>
    <footer>
      <h2>HACK A FLIGHT</h2>
      <p class="textofooter">Todos los derechos reservados © 2020 . HACK A BOSS · Vigo</p>
      <!-- Add rrss library -->
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />

      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-skype"></a>
    </footer>
  </div>
</template>

<script>
export default {
  name: "FooterCustom",
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

* {
  margin: 0;
}
footer {
  position: fixed;
  clear: both;
  padding-top: 40px;
  left: 0px;
  bottom: 0px;
  height: 200px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: cornsilk;
  background: darkgoldenrod;
  width: 100%;
}
.textofooter {
  color: cornsilk;
  font-size: 26px;
}
.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: cornsilk;
}
.fa:hover {
  opacity: 0.5;
}
</style>