<template>

  

  <div class="prueba"><br>
    <!-- <img class="contenido" src="../assets/logo.png" alt="Hack a Flight logo"> -->
    <h1>HACK A FLIGHT</h1>
    <div class="msg"><button class="button"><a href="/#/search">Empieza a buscar</a></button></div>
    <!-- <img class="contenido" src="../assets/4101795.jpg" alt="Hack a Flight logo" width="100%" height="100%"> -->
   </div>
  
</template>

<script>
export default {
  name: 'HomeCustom',
  props: {
    msg: String
  }
}
</script>

<style scoped>
.prueba {
  background: tomato;
}
.btn {
  background-color: black;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 22px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}
.btn:hover {
  opacity: 0.4;
}
a {
    color: white;
    text-decoration: none;
}
.contenido2 {
font-family: 'Source Sans Pro', sans-serif;
font-size: 26px;
display:block;
margin:auto;
text-align: center;
width: 100%;
}
.home {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 50px;
    display:block;
    margin:auto;
    text-align: center;  
}
h2 {
  color: goldenrod;
}
ul {
  list-style-type: none;
  padding: 20;
  font-size: 26px;
}
li {
  display: inline-block;
  margin: 0 10px;
}

</style>