<template>
    <div>
    
    <!--
    <div id="boxParams">
    <br>
    <ul>
    <div>
    <input type="text" v-model="origen" placeholder="Origen">
    </div>
    <div>
    <input type="text" v-model="destino" placeholder="Destino">
    </div>
    <div>
    <input type="text" v-model="precioMax" placeholder="Precio máximo en EUR">
    </div>
    <div>
    <input type="text" v-model="horasMax" placeholder="Duración máxima">
    </div>
    <div>
    <input type="text" v-model="minutosMax" placeholder="Duracion máxima minutos">
    </div>
    <div>
    <input type="text" v-model="paradasMax" placeholder="Paradas">
    </div>
    <div>
    <input type="text" v-model="salida" placeholder="Fecha de salida">
    </div>
    <div>
    <input type="text" v-model="adultos" placeholder="Número de adultos">
    </div>
    <button type="submit">Buscar vuelos</button>
    <p>
        Los vuelos aparecerán a continuación 
    </p>
    </ul>
    
    </div>-->
</div>
</template>


<script>
//http://localhost:7000/flights?originLocationCode=MAD&destinationLocationCode=LON&maxPrice=500&maxHours=2&maxMinutes=20&maxStops=0&departureDate=2020-08-31&adults=2
export default {
name: 'SearchComponent',
    props:{
        search: Array
    },
}
</script>

<style scoped>

ul{
    width: 100px;
}
.currency{
    width: 50%;
    display: flex
}
</style>