<template>
  <div class="contenido">
    <vue-headful title="Hack a Flight | ABOUT" />    
    <AboutCustom/>
  </div>
</template>

<script>
// @ is an alias to /src
import AboutCustom from '@/components/AboutCustom.vue'

export default {
  name: 'About',
  components: {
    AboutCustom
  }
}
</script>

<style scoped>
.contenido {
    font-family: 'Source Sans Pro', sans-serif;
    display:block;
    margin:auto;
    text-align: center;
}
</style>