<template>
  <div class="contenido">
      <vue-headful title="Hack a Flight | Register" />
      <h1>
          Formulario de registro
      </h1>
      <p v-show="errorMsg">*Tienes campos vacios</p>
      <center>
      <input v-model="name" type="text" placeholder="Nombre" id="">
      <br>
      <input v-model="user" type="text" placeholder="Usuario" id="">
      <br>
      <input v-model="email" type="text" placeholder="Email" id="">
      <br>
      <input v-model="password" type="text" placeholder="Password" id="">
      <br>
      <button @click="registerUser()">
          Registrar
      </button>
      </center>
  </div>
</template>

<script>
//import { sendEmailRegister } from '@/backflight/mail/mail.js'

import Swal from 'sweetalert2'
import {register} from '../api/utils'

export default {
    name: 'Registrar',
    data(){
        return{
            name: '',
            user: '',
            email: '',
            password: '',
            errorMsg: false
        }
    },
    methods:{
        registerUser(){
            if(this.user ==='' || this.email ==='' || this.password ==='' || this.name ==='') {
                this.errorMsg=true
            }else{
                register(this.name, this.user, this.email, this.password)
                Swal.fire({
                icon: 'success',
                title: 'Bienvenido a la familia',
                showConfirmButton: false,
                timer: 1500
                })
            }
        }
    }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.contenido {
  
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 130px;
  text-align: center;
}

div {
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
  padding-inline-start: 0px;
}

li {
  line-height: auto;
}

.title {
  grid-area: d;
  text-align: center;
}
.item1 {
  grid-area: a;
  text-align: center;
  padding: 15px;
  background-color: whitesmoke;
}
.item2 {
  grid-area: b;
}
.centrado {
  text-align: center;
  width: 400px;
}

input {  
  text-align: left;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 400px;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 100px;
}
</style>