<template>
  <div id="app">
    <div id="nav">
    <menucustom/>
    <router-view/>
    <footercustom/>
  </div>
  </div>
</template>

<script>
// 1 PASO: IMPORTAR EL COMPONENTE
import menucustom from '../src/components/MenuCustom.vue'
import footercustom from '../src/components/FooterCustom.vue'

import vueHeadful from 'vue-headful';

export default {
  name: 'App',
  // 2 PASO: REGISTRAR EL COMPONENTE
  components: {
    menucustom,
    footercustom
  },
  data(){
    return {
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
body {
    display: block;
    margin: 0px;
}
#app {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 20px;
  list-style:none;
  height: 100%;
  margin: 0;
  padding-bottom: 170px;
}
button {
  font-size: 26px;
  background-color: black;
  color: white;
  padding: 20px 40px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.4;
}
/* #nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
} */
</style>